body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    display: flex;
}

.calculadora {
    background-color: #000000;
    width: 146px;
    border-radius: 5px;
    padding: 6px;
}

button {
    width: 35px;
    height: 35px;
    border: none;
    margin: 1px;
    border-radius: 100%;
    background-color: #ffffff;
}
button:hover {
    background-color: #e3e3e3;
}

.operador {
    background-color: #ffb941;
}
.operador:hover {
    background-color: #fdad23;
}

.igual {
    background-color: #ff7373;
}
.igual:hover {
    background-color: #ff5a5a;
}

.decimal {
    background-color: #ff7373;
}
.decimal:hover {
    background-color: #ff5a5a;
}

.display {
    display: flex;
    background-color: #ffffff;
    height: 35px;
    justify-content: end;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
}

button:active {
    transform: translateY(3px);
}