#app {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    height: 100%;
    background-color: #3e3e3e;
    color: #dbdbdb;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 16px;
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    width: 280px;
    border-radius: 8px;
    border-style: solid;
    border-color: #2f2f2f;
    background: #3cc8fb;
    transition: backgroud-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #ff2f52;
    transform: translateY(-3px);
}

input {
    background-color: #dbdbdb;
    border-radius: 8px;
    border-style: solid;
    border-color: #2f2f2f;
    padding: 5px;
}

.componente {
    display: grid;
    width: 200px;
    gap: 10px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}